* {
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-height:100vh
}

.bj {
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.head {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.bj-row1, .bj-row2, .bj-row3 {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.bj-row3 {
    padding-bottom: 6vh;
    padding-top: 3vh;
}

#rules {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50px;
    position: absolute;
    margin-top: 25px;
    visibility: hidden;
}

.bj-table{
    border: 15px solid #312318;
    border-radius: 30px;
    background: url("table_background.jpg") center;
    color: white;
}

.bj-row1 div{
    height: 350px;
    padding: 10px;
    flex: 1;
}

.bj-row1 div img{
    width: 15%;
    margin: 5%;
}

.bj-row2 div{
    padding: 10px;
}

.bj-row2 button{
    border: 1px solid black;
    padding: 10px;
}

.bj-row3 table, .bj-row3 th, .bj-row3 td{
    border: 3px solid black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

.footer{
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
}

#cc{
    background-color:rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 5px;
    color: white;
    margin-bottom: 0px;
}
